# Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Byte-compiled / optimized / DLL files
*.so
*.egg
*.egg-info/
dist/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environment files
.env

# VS Code settings (optional)
.vscode/
